.Rproj.user
.Rhistory
.RData
.Ruserdata
data/diplomes*
data/individus*
data/inscrits*
data/resultats*
data/stats*
inst/**/Diplomes*
inst/**/Individus*
inst/**/Inscrits*
inst/**/Resultats*
inst/extdata/Tables_ref_individus.accdb
raw/scuio-ip/*
