.Rproj.user
.Rhistory
.RData
.Ruserdata
data/diplomes*
data/individus*
data/inscrits*
data/resultats*
data/stats*
data-raw/**/Diplomes*
data-raw/**/Individus*
data-raw/**/Inscrits*
data-raw/**/Resultats*
data-raw/data/Tables_ref_individus.accdb
*laccdb
