.Rproj.user
.Rhistory
.RData
.Ruserdata
data/diplomes*
data/individus*
data/inscrits*
data/resultats*
data/stats*
raw/**/Diplomes*
raw/**/Individus*
raw/**/Inscrits*
raw/**/Resultats*
raw/Tables_ref_individus.accdb
raw/scuio-ip/*
inst/extdata/Tables_ref_individus.accdb
